.post {
  &-header {
    color: var(--colorText);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 3em;
  }
  &-below {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    @media (max-width: 1200px) {
      margin-top: 3em;
      flex-flow: column;
      height: auto;
    }
  }
  &-upload-input {
    width: 100%;
    margin-top: 10px;

    &-text {
      color: var(--colorText);
      text-align: left;
    }

    &-file {
      display: inline-block;
      text-align: left;
      background: var(--colorSecondary);
      position: relative;
      border-radius: 3px;
      margin-top: 5px;
      cursor: pointer;

      .button {
        display: inline-block;
        cursor: pointer;
        padding: 8px 16px;
        border-radius: 2px;
        margin-right: 8px;
        color: var(--colorText);
        background: var(--colorButtons);
      }

      .label {
        color: var(--colorText);
        white-space: nowrap;
        opacity: .3;
      }

      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 10;
        cursor: pointer;
      }
    }
  }
}

.invertible {
  filter: var(--filterImagePlaceholder);
}