.masonry-grid {
  background: var(--colorPrimary);
  display: flex;
  width: auto;
  margin-left: -30px;

  @media (max-width: 800px) {
    margin-left: -15px;
  }

  &_wrapper {
    margin: 5em;

    @media (max-width: 800px) {
      margin: 3em;
    }

    @media (max-width: 500px) {
      margin: 1em;
    }
  }

  &-item {
    max-height: 50rem;
    overflow: hidden;
    position: relative;
    border-radius: 16px;
    cursor: zoom-in;
    transition: .3s;
    margin-bottom: 15px;


    &:hover &-overlay {
      opacity: 1;
      transition: .3s;
    }

    &:hover &_bg {
      filter: blur(1px) brightness(0.3);
      transition: .3s;
    }

    img {
      height: auto;
      width: 100%;
      z-index: -1;
      transition: .3s;
    }

    &-overlay {
      position: absolute;

      width: 100%;
      height: 100%;

      top: 5px;
      display: block;
      opacity: 0;
      transition: .3s;

      &_avatar {

        width: 32px;
        height: 32px;
        flex-shrink: 0;

        img {
          border-radius: 50%;
        }
        
        &:hover {
          cursor: pointer;
        }
      }

      &_title {
        color: #fefefe;
        text-align: left;
        margin-left: 15px;
        font-size: 1.3em;
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
        flex-grow: 0;
      }

      &_icon {
        font-size: 2em;
        color: #fefefe;
        text-align: right;
        margin-left: auto;
        margin-right: 15px;
        margin-top: -5px;
        transition: .3s;

        &.pinned {
          color: #d11141;
        }

        &:hover {
          color: red;
          cursor: pointer;
          transition: .3s;
        }
      }


    }

  }

  &_column {
    padding-left: 30px;
    background-clip: padding-box;

    @media (max-width: 800px) {
      padding-left: 15px;
    }

    > div {
      margin-bottom: 30px;

      @media (max-width: 800px) {
        margin-bottom: 15px;
      }
    }
  }
}

.top-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 10px;
}