.post {

  box-shadow: var(--shadowPost);
  border-radius: 16px;
  display: flex;
  margin-left: 3em;
  margin-right: 3em;
  width: auto;
  flex-shrink: 0.2;
  height: 75%;

  @media (max-width: 1200px) {
    margin-top: 3em;
    flex-flow: column;
    height: auto;
  }

  @media (max-width: 500px) {
    margin: 0;
    flex-shrink: 1;
    min-width: 0;
  }


  &-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-all;

    @media (max-width: 1200px) {
      height: auto;
    }
  }

  &-left {
    flex-shrink: 1;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 500px) {
      padding: 0;
    }
    img {
      border-radius: 16px;
      max-width: 27em;
      max-height: 100%;

      @media (max-width: 500px) {
        width: 100%;
        border-radius: unset;
      }
    }
  }


  &-right {
    padding: 1em 1em 1em 2em;
    width: 500px;

    @media (max-width: 768px) {
      max-width: 100%;
    }

    @media (max-width: 500px) {
      margin: 0;
      padding: 0;
    }

    &-column {
      height: 100%;
    }

    &-input {
      padding-top: 1em;
      margin-top: auto;
      margin-bottom: 1em;
      width: auto;

      &-submit {
        display: flex;
        align-items: center;
      }

      &-avatar {
        margin-right: 1em;
        img {
          width: 48px;
          height: 48px;
          border-radius: 50%;
        }
      }


    }

    &-comment {
      color: var(--colorText);
      margin-top: 2em;
      margin-right: 1em;

      &-wrapper {
        background: var(--colorSecondary);
        border-radius: 16px;
        padding: 0.5em;

        &:hover {
          .post-right-comment-dots {
            opacity: 1;
          }
        }
      }

      &-list {
        height: 100%;
        overflow-y: auto;
        align-items: flex-start;

        &::-webkit-scrollbar {
          width: 0.5rem;
        }
      }

      &-author {
        position: relative;
        font-weight: 600;
        float: left;

        &:hover {
          cursor: pointer;
          &:after {
            width: 100%;
          }
        }
        &:after {
          content: "";
          position: absolute;
          left:0;
          top: 100%;
          width: 0;
          height: 2px;
          background-color: var(--commentAuthorHoverColor);
          transition: width .3s ease-in-out;
        }
      }

      &-content {
        padding-bottom: 10px;
        padding-top: 2px;
        display: block;
        text-align: left;
        word-break: break-word;
      }

      &-time {
        padding-left: 1em;
        display: flex;
      }

      &-dots {
        text-align: right;
        margin-left: auto;
        width: 50px;
        opacity: 0;
        transition: opacity .3s;
        cursor: pointer;
        position: relative;
        user-select: none;

        &-menu {
          width: 100px;
          text-align: left;
          font-weight: 500;

          &-wrapper {
            right: 30px;
            top: 0;
            position: absolute;
            background: var(--colorSecondary);
            box-shadow: var(--shadowPost);
            padding: 10px;
            border-radius: 16px;
          }
        }
      }

      &-avatar {
        margin-right: 1em;

        &:hover {
          cursor: pointer;
        }
        img {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          vertical-align: middle;
        }
      }
    }

    &-socials {
      color: var(--colorText);
      margin-top: 1em;
      font-weight: 600;
      &-pins {
        padding-bottom: 5px;

        &.active {
          position: relative;
          transition: width .3s ease-in-out;
          &:after {
            content: "";
            position: absolute;
            left:0;
            top: 100%;
            width: 100%;
            height: 2px;
            background-color: var(--commentAuthorHoverColor);
            transition: width .3s ease-in-out;
          }
        }

        &:hover {
          cursor: pointer;
        }
      }

      &-comments {
        margin-left: 1em;
        &.active {
          position: relative;
          &:after {
            content: "";
            position: absolute;
            left:0;
            top: 100%;
            width: 100%;
            height: 2px;
            background-color: var(--commentAuthorHoverColor);
            transition: width .3s ease-in-out;
          }
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    &-author {
      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;
      }

      &-name {
        color: var(--colorText);
        font-weight: 400;
        margin-left: 1em;
        font-size: 1.375rem;

      }

      &-avatar {
        vertical-align: middle;
        img {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          vertical-align: middle;
        }
      }
    }

    &-dots {
      color: var(--colorText);
      margin-left: auto;
      font-size: 1.5em;
      cursor: pointer;
      user-select: none;
      position: relative;

      &-menu {
        text-align: left;
        font-weight: 700;

        &-wrapper {
          width: 200px;
          right: 10px;
          position: absolute;
          background: var(--colorPrimary);
          padding: 10px;
          box-shadow: var(--shadowPost);
          border-radius: 16px;
        }

        &-item {

          &:hover {
            background: var(--colorSecondary);
          }
        }
      }
    }

    &-title {
      color: var(--colorText);
      margin-top: 0.175em;
      font-size: 1.5rem;
      text-align: left;
      font-weight: 600;
      overflow:hidden;
      word-break: break-word;
    }



  }

}