.post {

  box-shadow: var(--shadowPost);
  border-radius: 16px;
  display: flex;
  margin-left: 3em;
  margin-right: 3em;
  width: auto;
  flex-shrink: 0.2;
  height: 75%;

  @media (max-width: 1200px) {
    margin-top: 3em;
    flex-flow: column;
    height: auto;
  }

  @media (max-width: 500px) {
    margin: 0;
    flex-shrink: 1;
    min-width: 0;
  }


  &-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-all;

    @media (max-width: 1200px) {
      height: auto;
    }
  }

  &-left {
    flex-shrink: 1;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 500px) {
      padding: 0;
    }
    img {
      border-radius: 16px;
      max-width: 27em;
      max-height: 100%;

      @media (max-width: 500px) {
        width: 100%;
        border-radius: unset;
      }
    }
  }


  &-right {
    padding: 1em 1em 1em 2em;
    width: 500px;

    @media (max-width: 768px) {
      max-width: 100%;
    }

    @media (max-width: 500px) {
      margin: 0;
      padding: 0;
    }

    &-column {
      height: 100%;
    }

    &-input {
      padding-top: 1em;
      margin-top: auto;
      margin-bottom: 1em;
      width: auto;
      height: 100px;


      &-submit {
        display: flex;
        align-items: center;
      }

      &-counter {
        color: var(--colorText);
        margin-left: auto;
        margin-right: 1em;
        justify-content: center;
        align-items: center;
      }

      &-avatar {
        margin-right: 1em;
        img {
          width: 48px;
          height: 48px;
          border-radius: 50%;
        }
      }

      textarea {
        color: var(--colorText);
        background: var(--colorSecondary);
        width: 100%;
        resize: none;
        padding: 10px;
        border: 0;
        border-radius: 10px;
        &::placeholder {
          font-family: 'Rubik', sans-serif;
        }
        &:focus {
          outline: none;
          box-shadow: var(--commentOutline);
        }
      }
    }

    &-comment {
      color: var(--colorText);
      margin-top: 2em;
      margin-right: 1em;

      &-wrapper {
        background: var(--colorSecondary);
        border-radius: 16px;
        padding: 0.5em;
      }

      &-list {
        height: 100%;
        overflow-y: auto;
        align-items: flex-start;

        &::-webkit-scrollbar {
          width: 0.5rem;
        }
      }

      &-author {
        font-weight: 600;
        float: left;

        &:hover {
          cursor: pointer;
        }
      }

      &-content {
        display: block;
        text-align: left;
        word-break: break-word;
      }

      &-time {
        padding-left: 1em;
        display: flex;
      }

      &-avatar {
        margin-right: 1em;

        &:hover {
          cursor: pointer;
        }
        img {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          vertical-align: middle;
        }
      }
    }

    &-socials {
      color: var(--colorText);
      margin-top: 1em;
      font-weight: 600;
      &-pins {
        padding-bottom: 5px;

        &.active {
          border-bottom: var(--socialsLineActive);
        }

        &:hover {
          cursor: pointer;
        }
      }

      &-comments {
        margin-left: 1em;
        &.active {
          border-bottom: var(--socialsLineActive);
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    &-author {
      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;
      }

      &-name {
        color: var(--colorText);
        font-weight: 400;
        margin-left: 1em;
        font-size: 1.375rem;

      }

      &-avatar {
        vertical-align: middle;
        img {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          vertical-align: middle;
        }
      }
    }

    &-dots {
      color: var(--colorText);
      margin-left: auto;
      font-size: 1.5em;
    }

    &-title {
      color: var(--colorText);
      margin-top: 0.175em;
      font-size: 2.5rem;
      font-weight: 600;
      overflow:hidden;
      word-break: break-word;
    }



  }

}