.loading-button {
  font-weight: 700;
  color: #ffffff;
  background: #d11141;
  padding: 1em;
  border-radius: 5%;
  border: none;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s;

  &_dots {
    display: none;
    position: relative;
    width: 80px;
    height: 16px;
    div {
      position: absolute;
      top: 4px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #fff;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

    div:nth-child(1) {
      left: 8px;
      animation: dots_anim_1 0.6s infinite;
    }

    div:nth-child(2) {
      left: 8px;
      animation: dots_anim_2 0.6s infinite;
    }

    div:nth-child(3) {
      left: 32px;
      animation: dots_anim_2 0.6s infinite;
    }

    div:nth-child(4) {
      left: 56px;
      animation: dots_anim_3 0.6s infinite;
    }
  }

  &:not(.disabled) &:hover {
    background: #722040;
    transition: background-color 0.3s;
  }

  &.loading {
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none;
    span {
      display: none;
    }

    .loading-button_dots {
      display: inline-block;
    }
  }
}

@keyframes dots_anim_1 {
  0%   { transform: scale(0); }
  100% { transform: scale(1); }
}

@keyframes dots_anim_2 {
  0%   { transform: translate(0, 0);    }
  100% { transform: translate(24px, 0); }
}

@keyframes dots_anim_3 {
  0%    { transform: scale(1); }
  100%  { transform: scale(0); }
}